{% extends 'coffquiz/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Add a Coffee
{% endblock %}

{% block body_block %}
    <h1>Add a Coffee</h1>
    <div>
        <form id="coffee_form" method="post" action="{% url 'coffquiz:add_coffee' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br />
            {% endfor %}
            <input type="submit" name="submit" value="Create Coffee" />
        </form>
    </div>
{% endblock %}