{% extends 'coffquiz/base.html' %}
{% load static %}

{% block title_block %}
    {% if article %}
        {{ article.title }}
    {% else %}
        Unknown Article
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if article %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ article.title }}</h1>
            <strong id="like_count">{{ article.views }}</strong> views
        </div>
    </div>
        <p>{{ article.content }}</p>
    {% else %}
        The specified article does not exist.
    {% endif %}

    {% if comments %}
    <ul id="commentsOver">
        {% for comment in comments %}
            <li  class="commentStyle">
                <h4>{{ comment.user }}</h4>
                <div class="commentStyleLine">
                    <p class="commentStyleContent">{{ comment.comments }}</p>
                    <p class="commentStyleTime">time: {{ comment.time }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        There are no comments exist.
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'coffquiz:add_comment' article.slug %}">Add a Comment</a>
    {% endif %}
{% endblock %}