{% extends 'coffquiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if article %}
        {{ article.title }}
    {% else %}
        Unknown Article
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if article %}
        <h1>{{ article.title }}</h1>
        views: {{ article.views }}
        <p>{{ article.content }}</p>
        {% if user.is_authenticated %}
        {% endif %}
    {% else %}
        The specified article does not exist.
    {% endif %}

    {% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                <h3>{{ comment.user }}</h3>
                <p>{{ comment.time }}</p></br>
                {{ comment.comments }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        There are no comments exist.
    {% endif %}

    <a href="{% url 'coffquiz:add_comment' article.slug %}">Add a Comment</a>
{% endblock %}