{% extends 'coffquiz/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to CoffQuiz!</h1>
            <div>
                <h2 class="h2">
                {% if user.is_authenticated %}
                    howdy {{ user.username }}!
                {% else %}
                    hey there partner!
                {% endif %}
                </h2>
                <strong>{{ introduction }}</strong>
            </div>
        </div>
    </div>

    <div class="container">
        <img src="{% static 'images/logo.jpg' %}" alt="Picture of Logo" />
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Liked Coffee Products</h2>
                        <p class="card-text">
                        {% if coffeelist %}
                        <ul class="list-group">
                        {% for coffee in coffeelist %}
                            <li class="list-group-item"><a href="{% url 'coffquiz:show_coffee' coffee.slug %}">{{ coffee.name }}</a></li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no coffee list present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Viewed Reviews Articles</h2>
                        <p class="card-text">
                        {% if articles %}
                        <ul class="list-group">
                        {% for article in articles %}
                            <li class="list-group-item"><a href="{% url 'coffquiz:show_article' article.slug %}">{{ article.title }}</a></li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no articles present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        