{% extends 'coffquiz/base.html' %}
{% load staticfiles %} 

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Join the CoffQuiz Community</h1>
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'coffquiz:index' %}">Return to the homepage.</a><br />
    {% else %}
        CoffQuiz: <strong>register here!</strong>
        <form id="user_form" method="post" action="{% url 'coffquiz:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}