# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DjangoProject\Bingo_Coffquiz_Rango\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
